<template>
  <div>
    <menu>
      <button
        v-t="'Graph.update'"
        @click="selectLayout(layout)"/>
    </menu>
    <cytoscape
      class="graph"
      :config="config"
      :pre-config="preConfig"/>
    <div
      v-show="isLoading"
      class="backdrop"/>
  </div>
</template>

<script>
import cytoscape from 'cytoscape'
import coseBilkent from 'cytoscape-cose-bilkent'
import cola from 'cytoscape-cola'
import * as marvelData from '../marvel-data.json'

const transformDataForCY = () => {
  let elements = Object.values(marvelData.characters).map(props => ({ group: 'nodes', data: { ...props, shape: 'star', color: 'yellow' } }))
  elements = elements.concat(Object.values(marvelData.movies).map(props => ({ group: 'nodes', data: { ...props, shape: 'diamond', color: 'blue' } })))
  elements = elements.concat(Object.values(marvelData.alter_ego).map(props => ({ group: 'nodes', data: { ...props, shape: 'tag', color: 'orange' } })))
  const relations = Object.entries(marvelData.relationship)
  const relLength = relations.length
  for (let i = relLength - 1; i > -1; i--) {
  	const relation = relations[i]
  	elements.push({
      group: 'edges',
      data: {
        id: relation[0],
        source: relation[1].id,
        target: relation[1].target_id,
      }
  	})
  }
  return elements
}

const computeEdges = () => {
  let edges = []
  const characters = Object.values(marvelData.characters)
  const charactersLength = characters.length
  const alterEgo = Object.values(marvelData.alter_ego)
  const alterEgoLength = alterEgo.length
  const movieIds = Object.values(marvelData.movies).map(movie => movie.id)
  for (let i = charactersLength - 1; i > -1; i--) {
  	const movies = characters[i].movies
    const chId = characters[i].id
  	for (let movieId in movies) {
  		if (movies[movieId] && movieIds.includes(movieId) ) {
        edges.push({
          group: 'edges',
          data: {
            id: `${chId}_in_${movieId}`,
            source: chId,
            target: movieId,
          }
        })
      }
    }
  }
  for (let i = alterEgoLength - 1; i > -1; i--) {
    const ego = alterEgo[i]
    edges.push({
      group: 'edges',
      data: {
        id: `${ego.origin_id}_as_${ego.id}`,
        source: ego.id,
        target: ego.origin_id,
      }
    })
  }
  return edges
}

const elements = transformDataForCY()

const config = {
  elements,
  style: [
    {
      selector: 'node',
      style: {
        'background-color': 'data(color)',
        'label': 'data(name)',
        'shape': 'data(shape)'
      }
    }, {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': '#ccc',
        'target-arrow-color': '#ccc',
        'target-arrow-shape': 'triangle'
      }
    }
  ],
}

export default {
  name: 'Graph',
  props: {
    msg: String
  },
  data () {
    return {
      config,
      isLoading: true,
      layout: 'cola',
      layouts: {
        'grid': {
          name: 'grid',
          rows: 1
        },
        'coseBilkent': { name: 'cose-bilkent' },
        'cola': { name: 'cola' },
        'null': { name: 'null' },
        'random': { name: 'random' },
        'preset': { name: 'preset' },
        'circle': { name: 'circle' },
        'concentric': { name: 'concentric' },
        'breadthfirst': { name: 'breadthfirst' },
        'cose': { name: 'cose' }
      },
    }
  },
  created () {
    this.config.layout = this.getLayout(this.layout)
  },
  mounted () {
  	this.isLoading = false
    this.cyAddData(computeEdges())
    this.assignCallbacks()
      .catch(error => console.error(error))
  },
  methods: {
    async assignCallbacks (cynodes = [], cylinks = []) {
      const cy = await this.$cytoscape.instance
      const that = this
      cy.on('layoutstart', () => {
        that.isLoading = true
      })
      cy.on('layoutready', () => {
        that.isLoading = false
      })
      cy.on('layoutstop', () => {
        that.isLoading = false
      })
      cy.on('tap', 'node', event => {
      	that.displayNeighbours(event.target.id())
      })
      cy.on('tap', event => {
        if( event.target === cy ){
          that.displayNeighbours()
        }
      })
    },
    async cyAddData (cyelements = []) {
      const cy = await this.$cytoscape.instance
      try {
        cy.add(cyelements)
      } catch (e) {
      	console.error(e)
      }
    },
    async displayNeighbours (id) {
      const cy = await this.$cytoscape.instance
      try {
        if (id) {
          cy.nodes().style('display', 'none')
          cy.$(`#${id}`).style('display', 'element')
          cy.$(`#${id}`).neighborhood().style('display', 'element')
        } else {
          cy.nodes().style('display', 'element')
        }
      } catch (e) {
        console.error(e)
      }
    },
    getLayout (name) {
      return this.layouts[name] || Object.values(this.layouts).filter(layout => layout.name === name)[0]
    },
    async selectLayout (name) {
      const cy = await this.$cytoscape.instance
      const layout  = cy.layout(this.getLayout(name))
      layout.run()
    },
    preConfig (cytoscape) {
      cytoscape.use( coseBilkent )
      cytoscape.use( cola )
    },
  }
}
</script>

<style scoped>
  #cytoscape.graph {
    height: 300px;
    width: 100%;
  }
  .backdrop {
    background: white;
    height: 100vh;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100vw;
  }
</style>
