<template>
  <div id="app">
    <Graph/>
  </div>
</template>

<script>
import Graph from './components/Graph.vue'

export default {
  name: 'app',
  components: {
    Graph,
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

canvas[data-id*="layer"] {
  left: 0;
}
</style>
